$pinkred: #F8395A;
$blue: #24355A;
$lightgrey: #F7F8F8;
$grey: #bdb9b9;
$darkgrey: #969393;
$purple : #7f46f0;
$tangerine : #ee7600;

@mixin shadow {
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
}

@mixin buttonStyle {
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    background-color: $purple;
    cursor: pointer;
    display: inline-block;
    height: 43px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
    
    &:hover {
        background-color: #151111;
    }
}

:export {
    pinkred: $pinkred;
    blue: $blue;
    lightgrey: $lightgrey;
    grey: $grey;
    darkgrey: $darkgrey;
    tangerine : $tangerine;
    purple: #7f46f0;
}